# Frontend (Vite exposes VITE_* vars to the browser)
VITE_DD_CLIENT_TOKEN=YOUR-CLIENT-TOKEN # Needed for Browser Logs, RUM in the frontend
VITE_DD_APPLICATION_ID=YOUR-APPLICATION-ID # Needed for RUM in the frontend
VITE_DD_SITE=datadoghq.com
VITE_DD_SERVICE=command-center-frontend
VITE_DD_ENV=development
VITE_DD_VERSION=1.0.0